.container {
  min-height: 100vh;
  display: flex;
}

.container section {
  width: 100%;
  padding: 10px;
}

.container aside {
  display: flex;
  flex-direction: column;
  /* width: 20%;
  min-width: 250px;
  min-height: 200px; */
  text-align: center;
  position: sticky;
  /* top: 80px; */
  height: 0;
}

.hidden {
  display: none;
}
.full {
  height: 100vh;
  width: 100%;
}

.controls {
  display: flex;
  flex-direction: column;
}
.row {
  display: flex;
  flex-direction: row;
  align-items: center;
  background: #ccc;
  justify-content: space-between;
  margin-bottom: 10px;
}
.center {
  display: flex;
  flex-direction: column;
  align-items: center;
  background:#00bcd400;
  justify-content: center;
}
.center2 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.controls textarea {
  height: 60vh;
  border: none;
  outline: none;
  padding: 0.5rem;
  font-size: 1.25rem;
}

.input {
  outline: none;
  border: none;
  font-size: 20px;
  width: 100%;
  padding: 8px;
}

.checkbox {
  display: inline;
  width: auto;
}
.flexBetween {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 4px;
  color: #fff;
}
.btn1{
  display: flex;
    align-items: center;
    justify-content: center;
    background: #ff9800;
    width: 100%;
}
.button {
  background: #df3b3b;
    border-radius: 10px;
    text-align: center;
    padding: 4px;
    margin-bottom: 10px;
    color: #fff;
}
.button2 {
  background: #78909c;
  border-radius: 10px;
  text-align: center;
  padding: 4px;
  margin: 5px 0;
  color: #fff;
}
@media only screen and (max-width: 768px) {
  .container {
    flex-direction: column;
  }

  .container section {
    width: 100%;
  }

  .container aside {
    width: 100%;
    position: relative;
  }
}
